# nixpacks.toml
name = "aquatoreo-webapp"

# FUERZA el uso de Node.js y desactiva staticfile
providers = ["node", "npm"]

# Desactiva completamente la detección automática
[detect]
enable = false

[phases.setup]
nixPkgs = ["nodejs-18_x", "python3"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[env]
NODE_ENV = "production"